.header {
   display: flex;
   flex: .07;
   background-color: orange;
   justify-content: space-between;
   align-items: center;
   padding: 0 3em;
}

.button {
   margin-right: 2em;
   padding: 0.5em;
}

.userName {
   font-weight: bold;
   font-size: 16px;
   color: white;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   align-items: center;
   display: flex;
}

.avatar {
   border-radius: 50%;
   height: 2em;
   width: 2em;
   margin-right: 1em;
   overflow: hidden;
}

.userData {
   display: flex;
   height: 100%;
   align-items: center;
}

.img {
   width: 100%;
   height: 100%;
}
